include COPYING*
include SETUP.html
include TUTORIAL.html

exclude sabx10/oxm/geom_test.py
exclude sabx10/oxm/parse_test.py
exclude sabx10/oxm/parse_test_data.py
exclude sabx10/oxm/ride_test.py
exclude sabx10/oxm/utils_test.py

recursive-include html_docs *
recursive-include sample *
recursive-include images *
recursive-include web *
recursive-include markers *

include sabx10/gpx2sabx sabx10/sabx2csv sabx10/sabx2html sabx10/sabx_cleanup 
include sabx10/sabx_csv sabx10/sabx_ele_analyze 
include sabx10/sabx_number sabx10/sabx_pretty sabx10/sabx_seg_closest 
include sabx10/sabx_seg_reverse sabx10/sabx_usgs sabx10/tcx2sabx

include sabx10/sabx_map_ride sabx10/sabx_map_ridedata sabx10/sabx_map_staging 
include sabx10/sabx_osm_osm sabx10/sabx_osm_render sabx10/sabx_osm_styles 
include sabx10/sabx_pdf_combine sabx10/sabx_pdf_instructions 
include sabx10/sabx_profiles2pdf sabx10/sabx_profiles_plot

recursive-include sabx10/map/templates *jinja2
recursive-include sabx10/osm/templates *jinja2
recursive-include sabx10/utils/templates *jinja2


